{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% block title %}LogIn{% endblock title %}

{% block content %}
<main>
        <section class="registration">
            <div class="container-fluid">
                <h2>Авторизация</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">LogIn</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}