{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock title %}

{% block content %}
<main>
        <section class="delete">
            <h1>Вы действительно хотите выйти из аккаунта?</h1>
            <div class="container-fluid">
               <form method="post" action="{% url 'account_logout' %}">
                   {% csrf_token %}
                   {{ form|crispy }}
                   <button type="submit">Выйти</button>
               </form>
           </div>
        </section>
    </main>
{% endblock content %}