@font-face {
    font-family: "Revalia-Regular";
    src: 
        url("Revalia-Regular.eot") format("eot"),
        url("Revalia-Regular.otf") format("otf"),
        url("Revalia-Regular.svg") format("svg"),
        url("Revalia-Regular.ttf") format("ttf"),
        url("Revalia-Regular.woff") format("woff"),
        url("Revalia-Regular.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
