{% extends '_base.html' %}

{% block title %}О нас{% endblock title %}

{% block content %}

    <main>
        <section class="dostavka">
            <div class="container-fluid">
                <div class="onas_div">
                    <p><b>Энергосбережение (экономия энергии) )</b> — реализация правовых организационных, научных
                        производственных , технических и экономических мер, направленных на эффективное (рациональное)
                        использование (и экономное расходование) топливно-энергетических ресурсов ) и на вовлечение в
                        хозяйственный оборот возобновляемых источников энергии
                        Энергосбережение — важная экологическая и уменьшению загрязнения окружающей среды выбросами
                        продуктов сгорания топлива и экономическая задача по снижению себестоимости товаров и услуг.
                        Актуальность энергосбережения растет во всех странах, особенно в небогатых своими
                        энергоресурсами, в связи с опережающим ростом цен на основные традиционные виды энергоресурсов и
                        постепенным истощением их мировых запасов. <br>
                        <b>В нынешних</b> непростых экономических условиях, вероятно, почти не осталось владельцев
                        недвижимости, которые бы не мечтали сэкономить на квартплате и коммунальных платежах. Хорошая
                        новость заключается в том, что расходы семейного бюджета действительно можно прилично сократить,
                        если подойти к этому с умом. Мы дадим список рекомендаций, позволяющих уменьшить траты на
                        электричество, воду и газ. Как говорил один легендарный мультгерой, знающий толк в экономии,
                        «сэкономленный доллар – заработанный доллар». <br>

                        <b>Мы</b> предлагаем лучшую продукцию от ведущих производителей на наш рынок от бытовых до промышленных
                        приборов учета. <br>
                        Наша компания решит любую поставленную задачу от заказчика. <br>
                        <b>Уникальность решений</b> <br>
                        Приборы и системы учета рассчитаны на бесперебойную эксплуатацию, в том числе, и в тяжелых
                        условиях. Продукции нашей компании имеет широкий спектр отраслевого применения – ЖКХ и
                        водоканалов до нефтегазового сектора и предприятий ГЭС промышленности. Приборы учета оснащены
                        средствами многоуровневой защиты данных, что позволяет использовать их для коммерческого учета. <br>
                        <b>Инновации</b> <br>
                        Характеристики инновационных приборов учета превосходит существующие технические требования, что
                        позволит минимизировать затраты на возможную дальнейшую модернизацию оборудования. Используя
                        умные счетчики, возможен не только качественный учет, но и построение систем мониторинга и
                        анализ, на основании которых можно оптимизировать затраты. <br>
                        <b>Профессионализм</b> <br>
                        Обратившись к нам Вы получите: <br>
                        • полный спектр «под ключ» в любом регионе нашей страны;  <br>
                        • оптимальное соотношение цены и качества работ и услуг; <br>
                        • быстрые и точные расчеты; <br>
                        • интеграцию различных современных приборов учета; <br>
                        • оптимальный выбор технического решения, соответствующий специфике бизнеса и поставленным
                        задачам; <br>
                        • поставку приборов учета и материалов в любую точку РУз.</p>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %}