{% extends '_base.html' %}

{% block title %}О нас{% endblock title %}

{% block content %}

    <main>
        <section class="dostavka">
            <div class="container-fluid">
                <div class="dostavka_div">
                    <p>Детали доставки: <br>
                        При покупки свыше <b>150 000</b> сум по городу Ташкенту доставка товаров <b>бесплатно</b>. <br> <br>
                        
                        При покупки свыше <b>5 500 000</b> сум по регионом Узбекистана доставка товаров <b>бесплатно</b>. <br> <br>
                        
                        Доставка товаров по городу Ташкент <b>25 000</b> сум. <br> <br>
                        Доставка по регионом Узбекистана от <b>25 000</b> сум.</p>
                </div>
            </div>
        </section>
    </main>
    {% endblock content %}